* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 90vw;
  height: 50px;
}

.vector {
  padding: 14px;
}

.introduction{
    display: grid;
    margin: 50px 200px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.hero > img{
    width: 75%;
    height: 75%;
}

