* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg_image_with_text {
  display: flex;
  flex-direction: column;
  background-image: url(./images/developer.png);
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

.big_text {
  font-size: 54px;
}

.intro_text {
  display: flex;
  min-height: 20vh;
  background-color: rgba(22, 22, 25, 1);
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.highlight {
  font-size: 50px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.main img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 40px 20px;
  box-shadow: 5px 5px 5px rgb(204, 203, 203);
  border-radius: 15px;
  padding: 10px 20px;
  line-height: 1.7rem;
  background-color: white;
}

.frame h2 {
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 25px;
  background-color: black;
  color: white;
}

.footer .frame {
  background-color: transparent;
  text-align: justify;
  color: white;
}

.credit {
  display: flex;
  background-color: black;
  color: white;
  height: 7vh;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
