* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg_image_with_text {
  display: flex;
  flex-direction: column;
  background-image: url(./images/developer.png);
  min-height: 80vh;
  background-position: center;
  background-size: fi;
  background-repeat: no-repeat;
  color: white;
  align-items: center;
}

.intro_text {
  display: flex;
  min-height: 20vh;
  background-color: rgba(22, 22, 25, 1);
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.main img {
  border-radius: 15px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 40px 20px;
  box-shadow: 5px 5px 5px rgb(204, 203, 203);
  border-radius: 15px;
  padding: 10px 5px;
}

.footer {
  display: flex;
}

.frame1 {
  background-color: rgba(81, 86, 3, 1);
}

.frame2 {
  background-color: rgba(114, 35, 0, 1);
}

.frame1,
.frame2 {
  padding: 25px;
  text-align: justify;
  color: white;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 7vh;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
